name: build

on:
- push
- pull_request

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: ^1.20
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Build commands
      run: .github/build-all

    - name: Run tests
      run: sudo go test -v -coverprofile coverage.txt ./...

    - name: Upload coverage report
      uses: codecov/codecov-action@v5
      with:
        files: coverage.txt
